<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <logger name="org.springframework.kafka" level="error"/>
    <logger name="org.apache.kafka" level="error"/>
    <logger name="io.swagger.v3" level="error"/>
    <appender name="FILE-ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log-dir}/capi.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log-dir}/capi.%d{yyyy-MM-dd}.%i.gz</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%-4relative [%thread] %-5level %logger{35} -%kvp- %msg%n</pattern>
        </encoder>
    </appender>
    <springProfile name="default">
        <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
        <logger name="org.springframework" level="INFO"/>
        <root level="info">
            <appender-ref ref="CONSOLE"/>
        </root>
        <logger name="io.surisoft.capi" additivity="false" level="TRACE">
            <appender-ref ref="CONSOLE"/>
        </logger>
    </springProfile>
    <springProfile name="dev">
        <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
        <logger name="org.springframework" level="INFO"/>
        <root level="info">
            <appender-ref ref="FILE-ROLLING" />
            <appender-ref ref="CONSOLE"/>
        </root>
        <logger name="io.surisoft.capi" additivity="false" level="TRACE">
            <appender-ref ref="FILE-ROLLING" />
            <appender-ref ref="CONSOLE"/>
        </logger>
    </springProfile>
    <springProfile name="prod">
        <logger name="org.springframework" level="INFO"/>
        <root level="info">
            <appender-ref ref="FILE-ROLLING" />
        </root>
        <logger name="io.surisoft.capi" additivity="false" level="INFO">
            <appender-ref ref="FILE-ROLLING" />
        </logger>
    </springProfile>
</configuration>